body{
    background-color: #D5D5D5;
}

#header{
    height: 0px;
    display: none;
}

#main-content{
    height: 0px;
    display: none;
}

#p_p_id_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_footer1_{
    display: none;
}

h2{
    display: none;
}

#footer{
    display: none;
}